:root {
  --main-font: "Megrim", cursive;
  --brown: #593920;
  --yellow: #ffffb5;
  --green: #7bc67b;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
}

h1 {
  font-size: 9rem;
  font-family: var(--main-font);
}

p {
  font-size: 1.5rem;
}

h1,
h2,
h3,
a {
  text-align: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Header */

.nav-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #593920;
}
.nav-bar_botones {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
}
.nav-bar_botones div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.nav-bar_botones button {
  margin: 0.4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19rem;
  height: 6rem;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  background: #7cc67b;
  font-size: 2rem;
}
.nav-bar_botones button:hover {
  background: rgb(66, 151, 64);
}
.nav-bar img {
  width: 11.7rem;
  height: 10.6rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: normal;
}

/*FORMULARIOS */
.sec-login{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 30%;
}
.sec-singIn{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 12%;
    
}

.singIn-container {
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 550px;
    display: flex;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-container {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 400px;
  display: flex;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item, .itemtwo {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  flex:30;
  background-color: #36320A;
  border-radius: 16px 0 0 16px;
  color: white;
  display: flex;
  justify-content:center;
  
}
.item p{
  font-size: 3.2rem;
  border-left: 2px solid white;
  padding: 10px;
  font-family: "Megrim", "cursive";
  margin:0;
}


.itemtwo {
  flex:70;
  background-color: #FFF519;
  border-radius: 0 16px 16px 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemtwo button{
  background-color: #36320A;
  color: white;
  margin-top: 20px;
}
.itemtwo h2{
  font-size: 3.2rem;
}

.item a,.item button, .itemtwo a,.itemtwo button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.5rem;
}

.item a {
  background-color: #36320A;
  border:2PX solid white;
  border-radius: 8px;
  color:#FFFFFF;
  margin:0;

}
.overlay {
background-color: rgba(0, 0, 0, 0.2); /* Color de fondo oscuro semi-transparente */
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 999; /* Asegura que esté por encima de otros elementos */
}

.itemtwo input {
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 10px;
  margin: 7px 0;
  width: 100%;
  box-sizing: border-box;
}
.input-box{
  width: 100%;
  position: relative;
  font-size: 1.5rem;
}

.input-box i{
  position: absolute;
  right:20px;
  top:50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.inactive{
display: none;
}
.condition{
    width: 100%;
    margin-top: 10px;
    font-size: 1.4rem;
}
.condition input{
    width: 15px;
}
.condition  label{

  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap:10px;
  display: flex;
  align-items:center;
}

.date{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.date select{
    padding: 10px 20px;
    border-radius: 8px;
}
select{
    
    font-size: 1.5rem;
}


@media (max-width: 768px) {
  .login-container {
      flex-direction: column;
  }

  .item, .itemtwo {
      border-radius: 16px;
      width: 100%;
  }
  .sec-login,
  .sec-singIn {
    top: 10%; 
  }

  .login-container,
  .singIn-container {
    max-width: 100%; 
    border-radius: 0; 
    height: auto; 
  }

  .item,
  .itemtwo {
    border-radius: 0; 
    padding: 10px; 
  }

  .item p {
    font-size: 2rem; 
    padding: 5px; 
  }

  .item a,
  .item button,
  .itemtwo a,
  .itemtwo button {
    font-size: 1rem; 
    padding: 5px 10px; 
  }

  .date {
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
  }

  .date select {
    padding: 5px 10px; 
    font-size: 1rem;
  }

  .condition {
    font-size: 1rem; 
  }

  .condition input {
    width: 10px; 
  }
}


@media (min-width: 768px) {
  .container {
    width: 85%;
  }
  .nav-bar {
    padding: 0.5rem 5rem;
  }
  .nav-bar_botones {
    width: 40%;
    flex-direction: row;
    align-items: center;
    justify-content: right;
  }
  .nav-bar_botones div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .nav-bar_botones button {
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19rem;
    height: 6rem;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    background: #7cc67b;
    font-size: 2rem;
  }
}

/* Main */

.oso {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  justify-content: space-around;
  align-items: center;
}

.oso-img {
  position: relative;
  background: linear-gradient(
    138deg,
    #438c6c 7.14%,
    #abca83 36.12%,
    #7cc67b 63.91%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 30rem;
  height: 45rem;
  border-radius: 35%;
}

.oso-img img {
  /* max-width: 40rem; */
  width: 100%;
  max-height: 48.3rem;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.oso-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.oso-text h1 {
  margin: 0;
  text-align: center;
  color: var(--brown);
  font-weight: 400;
}
.oso-text p {
  color: black;
  width: 100%;
  text-align: center;
  font-family: "Forum";
  font-size: 4rem;
  text-transform: capitalize;
}
.oso-img .pin1 {
  width: 105px;
  height: 112px;
  position: absolute;
  top: 5%;
  left: 82%;
}
.oso-img .pin2 {
  width: 105px;
  height: 112px;
  position: absolute;
  top: 25%;
  left: 2%;
}
.oso-img .pin3 {
  width: 105px;
  height: 112px;
  border-radius: 112px;
  border: 2.719px solid #fff;
  position: absolute;
  top: 64%;
  left: 100%;
}
.oso-img .pin4 {
  width: 105px;
  height: 112px;
  position: absolute;
  top: 83%;
  left: 7%;
}

@media (min-width: 1440px) {
  .oso {
    flex-direction: row;
    margin: 5rem auto;
    justify-content: space-around;
    align-items: center;
  }
  .oso-text {
    width: 50%;
  }
  .oso-img {
    width: 40rem;
    height: 58rem;
    border-radius: 35%;
  }
  .oso-text h1 {
    font-size: 15rem;
  }
  .oso-text p {
    font-size: 4.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .containe.oso {
    width: 90%;
    padding: 1rem;
  }
  .oso-text {
    width: 50%;
  }
  .oso {
    flex-direction: row;
    margin: 5rem auto;
    justify-content: space-between;
    align-items: center;
  }
  .oso-text p {
    font-size: 3.5rem;
    width: auto;
  }
  .oso-img {
    width: 25rem;
    height: 35rem;
  }
  .oso-text h1 {
    font-size: 9.5rem;
  }
  .nav-bar_botones {
    width: auto;
  }
}

/* Iconos */

.options {
  width: 90%;
  max-width: 130rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 10rem auto;
}

.conteiner-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
  color: #fff;
}

.conteiner-links:hover {
  background-color: var(--yellow);
}

.conteiner-links img {
  width: 70%;
}
.conteiner-links p {
  color: #000;
  font-family: Forum;
  font-size: 3.6rem;
  text-transform: capitalize;
  max-width: 22rem;
  text-align: center;
  font-weight: normal;
}
@media (min-width: 768px) {
  .options {
    gap: 10rem;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .options {
    gap: 5rem;
  }
}

/* Footer */

.footer {
  background-color: var(--yellow);
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.footer-content h3 {
  font-family: Readex Pro;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}

.footer img {
  width: 11.7rem;
  height: 10.6rem;
}

.contributors {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contributors ul {
  padding: 0;
}
.contributors li {
  list-style: none;
}

.social-media-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.social-media-icons .hover {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: white;
}
.social-media-icons .hover:hover {
  background-color: var(--green);
}

.footer-content h3 {
  text-align: center;
}
.social-media-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media-icons img {
  width: 4rem;
  height: 4rem;
  border: 50%;
}
.footer-content a {
  color: black;
  text-align: center;
  font-family: Readex Pro;
  font-size: 1.8rem;
  font-weight: 400;
}
.footer-content a:hover {
  color: var(--green);
}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    padding: 2rem 0;
    justify-content: space-around;
    align-items: baseline;
    padding: 2rem 14rem;
  }
  .contributors {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }
  .footer-content a {
    color: black;
    text-align: left;
    font-family: Readex Pro;
    font-size: 1.8rem;
    font-weight: 400;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .footer-content {
    padding: 2rem 0;
  }
}
